[viewBag]
==
<!--************************************
				Footer Start
		*************************************-->
<footer id="tg-footer" class="tg-footer tg-haslayout">
    <div class="tg-signupbox">
        <div class="container">
            <div class="tg-signuptextbox">
                <h3>Free Signup!</h3>
                <div class="tg-description"><p>Subscribe Monthly Newsletter &amp; Get Latest New &amp; Updates.</p></div>
            </div>
            <form class="tg-formtheme tg-formsignupfree">
                <fieldset>
                    <div class="form-group"><input type="text" name="emailid" class="form-control" placeholder="Enter Email ID"></div>
                    <div class="form-group"><button type="submit" class="tg-btn">Signup Now</button></div>
                </fieldset>
            </form>
        </div>
    </div>
    <div class="tg-footermiddlebar">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                    <div class="tg-widget tg-widgetcompanyinfo">
                        <div class="tg-widgetcontent">
                            <strong class="tg-logo"><a href="index-2.html"><img src="{{ 'assets/images/b2.png'|theme}}" alt="image description"></a></strong>
                            <div class="tg-description">
                                <p>ISEA (Inhuaschool Software Engineering Academic)</p>
                            </div>
                            <ul class="tg-infolist">
                                <li>
                                    <i class="icon-location"></i>
                                    <address>Jl. Mayor Jenderal DI Panjaitan No 7 Kav 6 Malang 65113 Indonesia</address>
                                </li>
                                <li>
                                    <i class="icon-phone-handset"></i>
                                    <span>(0341) 576793</span>
                                </li>
                                <li>
                                    <a href="mailto:query@domain.com">
                                        <i class="icon-envelope"></i>
                                        <span> info@inhuaschool.com</span>
                                    </a>
                                </li>
                            </ul>
                            <ul class="tg-socialicons">
                                <li class="tg-facebook"><a href=""><i class="fa fa-facebook"></i></a></li>
                                <li class="tg-twitter"><a href=""><i class="fa fa-twitter"></i></a></li>
                                <li class="tg-linkedin"><a href=""><i class="fa fa-linkedin"></i></a></li>
                                <li class="tg-googleplus"><a href=""><i class="fa fa-google-plus"></i></a></li>
                                <li class="tg-rss"><a href=""><i class="fa fa-rss"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                
                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                    <div class="tg-widget">
                        <div class="tg-widgettitle">
                            <h3>Jam Kerja</h3>
                        </div>
                        <div class="tg-widgetcontent">
                            <ul>
                                <li>
                                    Senin - Jum'at     : 08.00-16.00
                                </li>
                                <li>
                                    Sabtu     : 08.00-12.00
                                </li>
                                <li>
                                    Hari Minggu atau hari besar libur
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="tg-footerbar">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <span class="tg-copyright">Copyright &copy; 2017 All Rights Reserved</span>
                    <nav class="tg-addnav">
                        <ul>
                            <li><a href="">Privacy Policy</a></li>
                            <li><a href="">Term and Conditions</a></li>
                            <li><a href="">Contact</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</footer>
<!--************************************
        Footer End
*************************************-->
</div>
<!--************************************
        Wrapper End
*************************************-->