[viewBag]
==
<!--************************************
				Home Slider Start
		*************************************-->
<div class="clearfix"></div>
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="item" align="center">
                <figure>
                    <img src="{{ 'assets/images/isea.jpg'|theme}}" alt="image description" width="800px" height="300px">
                </figure>
        </div>
        </div>
    </div>
</div>
<!--************************************
        Home Slider End
*************************************-->